<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Xohw Online" />
    <meta property="og:description" content="A Discord account fucker. Developed by @xohw." />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/1178907415530459190/a_d217ee72d8eeb049fe71c4572d35a267.webp?size=128" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="global.css">
</head>
<body class="bg-slate-950">
    <div class="flex">
        <!-- sidebar -->
        <%- include("../components/sidebar.ejs"); %>

        <!-- mobile sidebar -->
        <%- include("../components/mobileSidebar.ejs"); %>

        <!-- content -->
        <div class="md:ml-80 p-4 w-full">
            <div class="w-full">
                <p class="text-white text-4xl font-medium">User Information</p>
                <p class="text-gray-400 mb-4">Discord account information on your target</p>

                <div class="grid grid-cols-1 gap-4 mt-4">
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <div class="flex items-center gap-4">
                            <a href="https://discord.com/users/<%= userDataJson.id %>" target="_blank" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-blue-600 hover:bg-blue-700">
                                Open Discord Popup
                            </a>
                        </div>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">User</p>
                        <code class="text-gray-400 whitespace-pre-line">Username: <%= userDataJson.username %>
Phone: <%= userDataJson.phone %>
Email: <%= userDataJson.email %>
Verified: <%= userDataJson.verified %>
2FA: <%= userDataJson.mfa_enabled %>
Locale: <%= userDataJson.locale %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Sessions</p>
                        <code class="text-gray-400 whitespace-pre-line"><% userSessionsJson.user_sessions.forEach(( session ) => { %><%= session.client_info.os %> | <%= session.client_info.platform %> | <%= session.client_info.location %>
<% }); %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Billing</p>
                        <% for (let i = 0; i < userBillingDataJson.length; i++) { %>
                            <% if (userBillingDataJson[i].type === 1) { %>
                                <p class="text-white font-medium">Credit Card</p>
                                <code class="text-gray-400 whitespace-pre-line">Brand: <%= userBillingDataJson[i].brand %>
Last 4: <%= userBillingDataJson[i].last_4 %>
Expires: <%= userBillingDataJson[i].expires_month %>/<%= userBillingDataJson[i].expires_year %>
Name: <%= userBillingDataJson[i].billing_address.name %>
Address: <%= userBillingDataJson[i].billing_address.line_1 %>
City: <%= userBillingDataJson[i].billing_address.city %>
State: <%= userBillingDataJson[i].billing_address.state %>
Country: <%= userBillingDataJson[i].billing_address.country %>
ZIP: <%= userBillingDataJson[i].billing_address.postal_code %></code>
                            <% } else if (userBillingDataJson[i].type === 2) { %>
                                <p class="text-white font-medium mt-4">PayPal</p>
                                <code class="text-gray-400 whitespace-pre-line">Email: <%= userBillingDataJson[i].email %>
Name: <%= userBillingDataJson[i].billing_address.name %>
Address: <%= userBillingDataJson[i].billing_address.line_1 %>
City: <%= userBillingDataJson[i].billing_address.city %>
State: <%= userBillingDataJson[i].billing_address.state %>
Country: <%= userBillingDataJson[i].billing_address.country %>
ZIP: <%= userBillingDataJson[i].billing_address.postal_code %></code>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Payments</p>
                        <code class="text-gray-400 whitespace-pre-line"><% for (let i = 0; i < userPaymentDataJson.length; i++) { %><%= userPaymentDataJson[i].description %>
<% } %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Guilds</p>
                        <code class="text-gray-400 whitespace-pre-line"><% guildsDataJson.forEach(( guild ) => { %><%= guild.name %>
<% }); %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Friends</p>
                        <code class="text-gray-400 whitespace-pre-line"><% friendsDataJson.forEach(( friend ) => { %><%= friend.user.username %>  (aka <%= friend.user.global_name %>)
<% }); %></code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>